# Updated to the latest versions as of May 2024
mysql-connector-python==8.4.0  # Latest stable version of MySQL Connector/Python for database connectivity
streamlit==1.34.0               # Latest stable version of Streamlit for building interactive web apps
PyMySQL==1.1.1
reportlab==4.2.0

# Additional useful libraries for a typical Python data handling and web app setup
pandas==2.2.2                  # For data manipulation and analysis
numpy==1.26.4                   # For numerical operations on large, multi-dimensional arrays and matrices
